extends layout.pug

block header-content
    if (user && user.id === 1)
      include partials/header-author
    else if (user && !user.id === 1)
      include partials/header-main
    else
      include partials/header-registration

block main-content
    main
        h1.visually-hidden Регистрация пользователя
        section
            .popup.popup--registration.popup--anti
                a.popup__button.button.button--popup-close(aria-label='Закрыть окно')
                    | Закрыть
                    | окно
                h2.popup__title Войти
                .popup__form.form.form--log-in
                    form(action='/login' method='post')
                        .form__field
                            label
                                input(type='text' name='email' placeholder='Электронная почта')
                        .form__field
                            label
                                input(type='text' name='password' placeholder='Пароль')
                        if (validationMessages)
                            .form__validation-error
                                p.form__error-message При регистрации произошли ошибки:
                                ul.form__errors
                                    each message in validationMessages
                                        li.form__error #{message}
                        button.form__submit-btn.form__submit-btn--log-in.button.button--colored(type='submit') Войти
