extends layout.pug

block header-content
    include partials/header-main

block main-content
    main
        section.search-page
            .search-page__wrapper
                h1 Поиск
                .search.search-page__form
                    form(action='/search' method='get' autocomplete='off')
                        label
                            input(type='text' name='query' placeholder='Что ищем?')
                        button.search__button.button.button--transparent(type='submit') Найти
                    if (results.length)
                        each result in results
                            .search__result
                                time.search__date(datetime=result.createdAt) #{result.createdAt}
                                a.search__link #{result.title}
                    else
                        h3 Ничего не нашлось
